/* Sidebar */
.sidebar {
    width: 25%;
    width: calc(420px);
    background-color: #FFFFFF;
    color: #00556c;
    box-shadow: 0px 0px 20px rgba(34, 81, 99, 0.25);
    position: relative;
    z-index: 2;
    text-align: left;

  	display: flex;
  	justify-content: flex-start;
    flex-direction: column;
}

@media screen and (max-width: 800px) {
  /* Sidebar */
  .sidebar {
    width: 100%;
    // height: calc(100vh - 72px);
  }
}

.sidebar-options {
  width: 100%;
  background-color: #526c79;
  align-self: flex-start;
}

.sidebar-options h3 {
  margin: 0 0 15px 0;
  color: #FFFFFF;
  font-weight: bold;
}

/* Sidebar - Location */
.sidebar-location {
  margin: 3px;
  padding: 15px;
  border-bottom: 1px solid #2b2f30;
}

@media screen and (max-width: 800px) {
  .sidebar-options {
    display: none;
  }
}

.sidebar-location .location-fields {
    display: flex;
}

.sidebar-location .Select {
  width: 100%;
}

.sidebar-location button {
  border: none;
  background: none;
  position: relative;
  cursor: pointer;
  height: 34px;
  width: 34px;
  margin-left: 15px;
  display: block;
  padding: 0;
  outline: none;
}

.sidebar-location button:focus img {
    outline: inherit;
}

.sidebar-location button.nolocation {
  opacity: 0.25;
}

.sidebar-location button.nolocation span {
  opacity: 0;
  visibility: hidden;
}

.sidebar-location button img {
  display: block;
  width: 34px;
  height: 34px;
}

.sidebar-location button span {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 140px;
    margin-left: -70px;
    margin-bottom: 10px;
    background-color: #000;
    color: #FFF;
    line-height: 24px;
    border-radius: 5px;
    white-space: nowrap;
    transition: 1s all ease;

    &:after {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-top-color: #000;
        border-width: 6px;
        margin-left: -6px;
    }
}

/* Fuel type */
.sidebar-fueltype {
    margin: 3px;
    padding: 15px;
}

/* Cheapest */
.sidebar-bottom {
	align-self: flex-end;
	width: 100%;
}
.sidebar-bottom h3 {
	margin: 20px;
}
.sidebar-station {
  display: flex;
  margin: 0;
  padding: 20px;
  border-top: 1px solid #cccccc;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
  left: 0px;
  transition: 0.25s all ease;

  // &:hover {
  //   left: -10px;
  // }
}

.sidebar-station .icon {
  width: 60px;
  margin-right: 20px;
}

.sidebar-station .icon img {
  display: block;
  width: 60px;
}

.sidebar-station .name {
    color: #2b2f30;
    margin-right: 20px;
}

.sidebar-station .name .distance {
    color: gray;
    font-size: 12px;
    margin-top: 5px;
}

.sidebar-station .name .title {
  font-size: 14px;
  margin-bottom: 4px;
  color: #2db530;
}

.sidebar-station .price {
  font-size: 48px;
  text-align: right;
  margin-left: auto;
}

/* In View */
.location-inview {
  overflow-y: scroll;
	flex-grow: 1;
}

.location-inview::-webkit-scrollbar-track {
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #2b2f30;
}

.location-inview::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

.location-inview::-webkit-scrollbar-thumb {
	// border-radius: 10px;
	// -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #28ade2;
}

@media screen and (max-width: 800px) {
    .sidebar-location,
    .sidebar-fueltype {
        padding: 10px;
    }
    .sidebar-options h3 {
        display: none;
    }
    .location-inview {
        transition: 1s all ease;
    }
    .sidebar-station {
        padding: 10px;
    }
}

/* Mobile Bottom*/
.bottom-mobile {
  width: 100%;
  background-color: #526c79;

  display: none;
  text-align: left;
  height: 64px;
}

.bottom-mobile .sidebar-location,
.bottom-mobile .sidebar-fueltype {
    flex-basis: 50%;
    padding: 10px;
    margin: 0;
}

.bottom-mobile .sidebar-location {
  border: none;
  border-right: 1px solid #000;
}

.bottom-mobile .sidebar-location button {
  margin-left: 10px;
}

@media screen and (max-width: 800px) {
  .bottom-mobile {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
  }
  .bottom-mobile h3 {
    display: none;
  }
}
