* {
    box-sizing: border-box;
}

body, html, select, input, textarea, button {
	font-family: 'stag', sans-serif;
}

.app {
  text-align: center;
}

.App-header {
  background-color: #201e21;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

/* Main */

.main {
    height: calc(100vh - 72px);
    display: flex;
    width: 100%;
    // flex-direction: row-reverse;
}

/* Map */
.map {
    background-color: #EFEFEF;
    width: 75%;
    width: calc(100% - 420px);
}

@media screen and (max-width: 800px) {
  .app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  .main {
      flex-wrap: wrap;
      overflow: hidden;
      position: relative;
      height: 100%;
  }
  .main .map {
      height: calc(100vh - 72px);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0%;
      left: 100%;

      transition: 1s all ease;
  }
  .main .sidebar {
      left: 0%;

      transition: 1s all ease;
  }
  .main.right .map {
    left: 0%;
  }
  .main.right .sidebar {
    left: -100%;
  }
}
